.stick{
  background-color: black;
  width: 10px;
  height: 60px;
  margin: 0 auto;
}
.container{
  background-color: black;
  width: 56px;
  height: 178px;
  margin: 0 auto;
  padding: 7px;
  border-radius: 10px;
}
.light{
  width: 50px;
  height: 50px;
  margin: 0 auto ;
  margin-bottom: 3px;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}
.light:active{
  box-shadow: bisque 0px 0px 50px 20px;
}
.red.light {
  background-color: red;
}
.yellow.light{
  background-color:yellow;
}
.green.light{
  background-color: green;
}
